@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #1f253d; }

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none;
  font-size: 15px; }

h1, h2, p, a, span {
  color: #fff; }

.row {
  padding: 0 15px; }

.scnd-font-color {
  color: #9099b7; }

nav {
  background: #394264;
  border-radius: 5px; }

.nav-menu {
  width: 100%; }

.nav-menu li {
  display: flex;
  justify-content: center;
  width: 25%; }

.nav-menu li:hover {
  background: #50597b;
  border-bottom: 4px solid #11a8ab; }

.nav-menu li:first-child {
  border-radius: 5px 0 0 5px; }

.nav-menu li:last-child {
  border-radius: 0 5px 5px 0; }

.nav-menu-tab {
  display: block;
  line-height: 74px;
  font-size: 17px;
  -webkit-transition: background .3s;
  transition: background .3s; }

.icon {
  font-size: 25px; }

/* Menu Circular  */
.circular-menu {
  font-size: 20px;
  left: 14vw;
  background-color: unset;
  top: -1.5%; }

.circular-menu__button {
  display: none; }

.circular-menu__button:checked + .circular-menu__icon {
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(2) {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1); }

.circular-menu__button:checked + .circular-menu__icon > .hamburger-bar:nth-child(3) {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg); }

.circular-menu__button:checked ~ .circular-menu__item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33); }

.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(1) {
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s;
  transform: translate3d(0px, 100%, 0);
  opacity: 1; }

.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(2) {
  -webkit-transition-duration: 0.28s;
  transition-duration: 0.28s;
  transform: translate3d(0px, 200%, 0);
  opacity: 1; }

.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(3) {
  -webkit-transition-duration: 0.38s;
  transition-duration: 0.38s;
  transform: translate3d(0px, 300%, 0);
  opacity: 1; }

.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(4) {
  -webkit-transition-duration: 0.48s;
  transition-duration: 0.48s;
  transform: translate3d(0px, 400%, 0);
  opacity: 1; }

.circular-menu__icon {
  background: #222831cb;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 79px;
  width: 79px;
  max-width: 15vh;
  max-height: 15vh;
  margin-left: -40px;
  position: absolute;
  text-align: center;
  top: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2; }

.circular-menu__icon:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.circular-menu__icon > .hamburger {
  background: white;
  display: block;
  width: 25px;
  height: 3px;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  position: absolute;
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.circular-menu__icon > .hamburger-bar:nth-child(1) {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0); }

.circular-menu__icon > .hamburger-bar:nth-child(2) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.circular-menu__icon > .hamburger-bar:nth-child(3) {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0); }

.circular-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222831;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  color: #eeeeee;
  height: 79px;
  width: 79px;
  max-width: 15vh;
  max-height: 15vh;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  font-size: 32px;
  opacity: 0; }

.circular-menu__item:nth-of-type(1) {
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s; }

.circular-menu__item:nth-of-type(2) {
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s; }

.circular-menu__item:nth-of-type(3) {
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s; }

.circular-menu__item:nth-of-type(4) {
  -webkit-transition-duration: 0.18s;
  transition-duration: 0.18s; }

.circular-menu__item:hover {
  color: #111010;
  background: #f3efef; }

.circular-menu__item:active,
.circular-menu__item:focus {
  color: #0a0a0a; }

/* Menu Circular Fin*/
.donut-chart-block {
  background: #394264;
  border-radius: 5px;
  height: auto;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 0%;
  margin: 19% 0 0; }

.donut-chart-block__titular {
  padding: 5% 5%;
  margin: 0; }

p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
  font-size: 17px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0; }

.donut-chart {
  width: 90%;
  height: 100%;
  margin: 5% 0;
  border-radius: 100%; }

.esp-percentages {
  width: 100%;
  border-radius: 50px 0 50px; }

.esp-percentages li {
  width: 25%;
  text-align: center;
  background: #50597b; }

.esp-percentages li:first-child {
  border-radius: 0 0 0 5px; }

.esp-percentages li:last-child {
  border-radius: 0 0 5px 0; }

.esp {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 15px; }

.esp.esp0 {
  border-top: 4px solid #e64c65; }

.esp.esp1 {
  border-top: 4px solid #11a8ab; }

.esp.esp3 {
  border-top: 4px solid #fcb150; }

.esp.esp2 {
  border-top: 4px solid #4fc4f6; }

.esp-percentage {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 25px; }

.lista {
  background: #394264;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10% 0 6%; }

.lista__titular {
  background: #cc324b;
  border-radius: 5px 5px 0px 0px;
  font-size: 25px;
  padding: 3% 4%;
  margin: 0; }

.lista-tabla {
  font-size: 16px;
  color: white;
  margin: 0; }

tbody tr {
  line-height: 38px; }

tbody tr:hover {
  background: #50597b;
  color: #222121; }

.lista-tabla-filtro {
  background-color: lightcoral; }

/* Diseño de tablet */
@media (min-width: 768px) {
  .donut-chart-block {
    margin: 7% 0 0; } }

/* Diseño de tablet Fin*/
/* Diseño de Escritorio */
/* Diseño de Escritorio Fin*/
